#logo {
  border-radius: 80%;
}

.activo {
  background-color: rgba(117, 188, 221, 0.281);
  border-radius: 10px
}

#recpass:hover {
  text-decoration: underline;
}

/* Reset del navegador */
* {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
/* fin reset del navegador */

.section_loader {
  position: fixed;
  left:0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: white;
  z-index: 9999;
  display: none;
  justify-content: center;
  align-items: center;
}

.loader {
  position: center;
  width: 60px;
  height: 60px;
}



.loader .loader_2 {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 4px solid rgb(0, 2, 128);
  border-top-color: transparent;
  border-right: none;
  border-radius: 50%;
  left: calc(50% - 20px);
  top: calc(50% - 20px);
  animation: loader-2 1s cubic-bezier(0.42, 0.61, 0.58, 0.41) infinite;
}

.show_loader {
  display: flex;
}


@keyframes loader-2 {
  0%{
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}


